USE [master]
GO
/****** Object:  Database [Job]    Script Date: 7/22/2017 6:17:48 PM ******/
CREATE DATABASE [Job]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Job', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Job.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Job_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Job_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Job].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Job]
GO
USE [Job]
GO
/****** Object:  Table [dbo].[JobDec]    Script Date: 7/22/2017 6:17:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobDec](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nchar](50) NULL,
	[JobDescription] [nvarchar](500) NULL,
	[JobCategory] [nvarchar](500) NULL,
 CONSTRAINT [PK_JobDec] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[JobDec] ON 

INSERT [dbo].[JobDec] ([JobID], [JobName], [JobDescription], [JobCategory]) VALUES (1, N'software engineer                                 ', N'aaaaa', N'engineer')
INSERT [dbo].[JobDec] ([JobID], [JobName], [JobDescription], [JobCategory]) VALUES (2, N'Data Administrator                                ', N'CCNA qualified', N'Admin')
INSERT [dbo].[JobDec] ([JobID], [JobName], [JobDescription], [JobCategory]) VALUES (3, N'Sys Admin                                         ', N'Amazon services', N'SAdmin')
SET IDENTITY_INSERT [dbo].[JobDec] OFF
USE [master]
GO
